@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactCollapse--collapse {
  transition: height 500ms;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
  }
  *[class*="hover:"] {
    transition: color 0.4s, background-color 0.4s, left 0.4s, opacity 0.4s,
      background-image 0.4s, transform 0.4s;
  }
  *:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  body {
    @apply font-normal max-w-[1728px] mx-auto;
  }
  .dropdown-content {
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  @keyframes fadeIn {
    0% {
      display: block;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .nav-item:hover .dropdown-content {
    display: block;
  }
}
